<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991017285677-tg2u0qd525oqrma17ee56qtnn2n4h9cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991017285677-tg2u0qd525oqrma17ee56qtnn2n4h9cq</string>
	<key>API_KEY</key>
	<string>AIzaSyBsyUmDACHSRPkHMQX18paNhwg2_S_uDMo</string>
	<key>GCM_SENDER_ID</key>
	<string>991017285677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.englishbattle.app</string>
	<key>PROJECT_ID</key>
	<string>my-english-battle</string>
	<key>STORAGE_BUCKET</key>
	<string>my-english-battle.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991017285677:ios:bc71cc5b6ce3fc754120a4</string>
</dict>
</plist>